.home-div {
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave {
    position: absolute;
    top: 10rem;
    left: -140px;
}

body {
    background-color: white;
    color: black;
}

.deer {
    position: absolute;
    left: 55%;
    top: 60%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.homeHeading {
    color: transparent;
    font-size: 7rem;
    font-weight: 700;
    height: 15rem;
    text-align: center;
    margin-top: 5rem;
    background: linear-gradient(to right, rgb(66, 66, 255), rgb(151, 106, 255));
    -webkit-background-clip: text;
}