.home-div{
    color:white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 200px;
}

.wave{
    position: absolute;
    top: 150px;
    left:-140px;
}

body{
    background-color: white;
    color:black;
}

.deer{
    position: absolute;
    left: 30%;
    top: 30%;
}

