.home-div{
    color:#ffffff;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 200px;
}

.pledge_home {
    position: absolute;
}

